@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-2">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-user m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">2540</h5>
                            <small class="font-light">Total Users</small>
                        </div>
                    </div>
                        <div class="col-xs-6 col-sm-2">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-plus m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">120</h5>
                            <small class="font-light">New Users</small>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-cart-plus m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">656</h5>
                            <small class="font-light">Total Shop</small>
                        </div>
                    </div>
                        <div class="col-xs-6 col-sm-2">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-tag m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">9540</h5>
                            <small class="font-light">Total Orders</small>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-table m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">100</h5>
                            <small class="font-light">Pending Orders</small>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-globe m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">8540</h5>
                            <small class="font-light">Online Orders</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Todays Trsection</h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Browser</th>
                                        <th scope="col">Visits</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Chrome</td>
                                        <td>8850</td>
                                    </tr>
                                    <tr>
                                        <td>Firefox</td>
                                        <td>1200</td>
                                    </tr>
                                    <tr>
                                        <td>Internet Explorer</td>
                                        <td>1540</td>
                                    </tr>
                                    <tr>
                                        <td>Opera</td>
                                        <td>1230</td>
                                    </tr>
                                    <tr>
                                        <td>Safari</td>
                                        <td>1590</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Product Expired Soon</h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Site</th>
                                        <th scope="col">Visits</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#" class="link">Themeforest.com</a></td>
                                        <td>1240</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">Themedesigner.in</a></td>
                                        <td>1200</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">Themedesigner.in</a></td>
                                        <td>1542</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">Themedesigner.in</a></td>
                                        <td>1230</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">Themedesigner.in</a></td>
                                        <td>1542</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Low Inventory</h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Page</th>
                                        <th scope="col">Visits</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#" class="link">Freebies</a></td>
                                        <td>1240</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">Blog</a></td>
                                        <td>1200</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">Work</a></td>
                                        <td>1542</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">Site Template</a></td>
                                        <td>1230</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">All categories</a></td>
                                        <td>1542</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>