@model PosSustemUIU.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-user m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">@Model.TotalCustomer</h5>
                            <small class="font-light">Total Customer</small>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-user m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">@Model.TotalEmployee</h5>
                            <small class="font-light">Total Employee</small>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-user m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">@Model.TodaysSale</h5>
                            <small class="font-light">Total Sales</small>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="bg-dark p-10 text-white text-center">
                            <i class="fa fa-user m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">@Model.TodaysPurchase</h5>
                            <small class="font-light">Total Purchase</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
         @await Component.InvokeAsync("HomeTodaysTransections")              
    </div>

    <div class="col-md-4">
         @await Component.InvokeAsync("HomeExpiredSoon")       
    </div>

    <div class="col-md-4">
         @await Component.InvokeAsync("HomeLowInventory")
    </div>
</div>