@model IEnumerable<IdentityRole>
<div class="row">
    <div class="col-sm-6">
        @await Component.InvokeAsync(
            "DataTable", new DataTableModel { 
                Url = "/home",
                Controller = "UserRoleController",
                Columns = new List<string>{"Name"},
                Heading = "User Role",
                TableData = Model,
                Keys = new List<string> {"Id", "Name"},
                Actions = new List<TableActions> { TableActions.Show, TableActions.Edit, TableActions.Delete}
            })
    </div>
    <div class="col-sm-6"></div>
</div>
